* {
    padding: 0;
    margin: 0;
    transition: all 1s linear -.5s;
}

header{
    width: 100%;
}

nav {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100dvw;
    background-color: #242424;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 15px;
    list-style: none;
}

nav ul li a {
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.nav_login{
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}

nav ul li a:hover ,.nav_login:hover{
    color: #808080;
}

a{
    text-decoration: none;
}

.nav_logo {
    width: 100%;
    height: 60px;
    background-color: #000000;
}

.nav_logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
}

.nav_logo a img {
    width: 50px;
}

.nav_logo a span {
    font-size: 20px;
}

.front {
    display: flex;
    justify-content: space-between;
}

.front_image {
    width: 100%;
    height: 800px;
    background-image: url("2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.front_image {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.front_image img {
    margin-top: 100px;
    width: 200px;
}

.front_image h1 {
    color:green;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

.front_image p {
    font-weight: bolder;
    width: 50%;
    text-align: center;
}
.front_image button{
    margin: 10px;
    font-weight: bolder;
    width: 93px;
    height: 36px;
    border-radius: 20px;
    border: none;
    background-color:green;
}
.front_image button:hover{
    background-color:rgb(56, 170, 56);
}
#our-services div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#our-services div img{
    margin: 10px;
    width: 300px;
    border-radius: 20px;
}
#our-services h1{
    text-align: center;
    font-size: 40px;
}

.food_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 25px;
}

.food_box p {
    display: flex;
    justify-content: space-between;
}

.food_box p span {
    font-size: .7em;
    padding: 5px;
    background-color: rgb(61, 194, 61);
    border-radius: 20px;
}

.center_title {
    margin: 10px;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}

.price {
    font-size: 25px;
    font-weight: bold;
}


.buy {
    margin: 10px;
    background-color: brown;
    align-self: center;
    height: 50px;
    width: 180px;
    font-size: 20px;
    border-radius: 20px;
    font-weight: bold;
    border-color: black;
}

.buy:hover {
    color: brown;
    box-shadow: 2px 2px wheat;
    border-color: brown;
    background-color: white;
}

#services,
#food_service {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box {
    width: 350px;
    margin: 20px;
    padding: 20px;
    border: 2px solid rgb(142, 48, 48);
}

.box img {
    width: 350px;
    height: 200px;
}

.center_title2 {
    margin: 10px;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}


#contact {
    width: 100dvw;
    background-image: url("13.jpg");
    background-size: cover;
}

#contact-box {
    background-color: rgba(255, 255, 255, 0.4);
    width: 70dvw;
    margin: auto;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form-group {
    margin: 20px;
    width: 50dvw;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-weight: bolder;
}

.form-group input {
    width: 760px;
    height: 35px;
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
    color: #242424;
    font-weight: bold;
}

.form-group textarea {
    width: 760px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    color: #242424;
    font-weight: bold;
}

.form-group button {
    align-self: center;
    height: 50px;
    width: 180px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
    background-color: whitesmoke;
    color: #242424;

}

.form-group button:hover {
    background-color: #242424;
    color: whitesmoke;
}

footer {
    width: 100dvw;
    background-color: black;
    color: azure;
    font-size: 40px;
    text-align: center;
}

#about_us {
    width: 100dvw;
    height: 100dvh;
    background-image: url("https://i.gifer.com/fzJq.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.about {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
}

.about img{
    align-self: center;
    width: 250px;
    height: 250px;
}

.about h2,p{
    font-weight: bold;
    text-align: center;
    align-self: center;
    width: 100%;
}

.about .icon{
    margin: 100px;
    align-self: center;
}

.about .icon i{
    color: black;
}

.icon a{
    text-decoration: none;
}

.about .icon i:hover{
    background-color: black;
}

.icon{
    font-size: 30px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon i{
    color: green;
    padding: 8px;
    border-radius: 40%;
    list-style: none;
}

.icon i:hover{
    background-color: green;
    color: whitesmoke;
}



@media only screen and (max-width:1200px){
    nav ul li a{
        font-size: 17px;
    }
    nav ul li{
        margin: 7px;
    }
    #about_us {
        width: 100%;
        height: 100%;
    }
    button{
        height: 40px;
    }
    .form-group input{
        width: 100%;
    }
    .form-group textarea{
        width: 100%;
    }
    .icon{
        margin:auto;
        align-self: center;
    }
    
}

@media only screen and (max-width:950px) {
    header nav{
       
        height: 60px;
        justify-content: space-between;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50px;
        background-color: black;
        width: 100%;
        display: none;
   }
   nav ul li a{
    font-size: 25px;
   }
   .form-group{
    width: 85%;
   }
   #contact-box{
    width: 100%;
   }
   form{
    width: 100%;
   }
   .front_image h1{
    text-align: center;
   }

   .hide{
    display: none;
   }
    
    .box {
        width: 250px;
    }

    .box img{
        width: 250px;
    }

    .logo{
        visibility: visible;
    }
}

.logo_menu {
    z-index: 2;
    width: 50px;
    height: 50px;
    margin-top:20px;
    margin-right: 50px;
    /* position: fixed;
    top: 10px;
    right: 20px; */
    visibility: hidden;
   
}




.logo {
    width: 30px;
    height: 5px;
    background-color: whitesmoke;
    margin: 5px;
    border-radius: 25%;
}


form .login_box{
    color: whitesmoke;
    background: rgba(18, 19, 18, 0.8);
    border-radius: 15px;
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    left: 0;
    right: 50px;
    margin: auto;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 2;
}

form .login_box h2 {
    margin-top: 50px;
    font-size: 30px;
}

form .login_box input,
form .login_box button {
    width: 80%;
    height: 40px;
    background: rgba(74, 81, 74, 0.8);
    border: none;
    color: white;
    font-size: 18px;
    padding-left: 10px;
}

form .login_box button {
    background-color: green;
}

form .login_box button:hover {
    background-color: rgb(56, 170, 56);
}

form .login_box .mid {
    width: 250px;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
}

form .login_box .mid input{
    width: 15px;
}

form .login_box .mid div{
    display: flex;
    width: 100px;
}

.login_box .mid input {
    width: 20px;
    height: 20px;
    background: rgba(74, 81, 74, 0.8);
}


.login_box a{
    text-decoration: none;
    color: whitesmoke;
}

.login_box a:hover{
    color: rgb(56, 170, 56);
}

.login_box p a{
    font-size: 20px;
}

.box_show{
    width: 350px;
    height: 200px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    bottom: 0;
    z-index: 1;
    background: rgba(18, 19, 18, 0.8);
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
   display: none;
}

.box_show button{
    font-size: 20px;
    font-weight: bold;
    width: 50%;
    height: 40px;
   background-color: green;
   border-radius: 15px;
}


.box_show button:hover{
    background-color: rgb(56, 170, 56);
}
